html {
    box-sizing: border-box;
    background-color: #000;
}
*, ::after, ::before {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.botones {
    display: flex;
    justify-content: center;
}
.header {
  background-image: url(../images/neon_plants.jpg);
  background-size: cover;
  height: 20rem;
  color:#ffffff;
  box-sizing: border-box;
  top: -100px;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  }
  .botones {
      display: flex;
      justify-content: center;
  }
  /*--------------BOTONES GLOW-------------------*/
  .btn {
    color: rgba(255,255,255,1);
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: 0;
    padding: 1.2em 5em;
    letter-spacing: 0.35em;
    font-size: 10px;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
    margin: 6em;
  } 
  .red {
      box-shadow: inset 0 0 1em rgba(255, 97, 97, 0.986), 0 0 1em rgba(255, 97, 97, 0.986);
      border: rgb(255, 74, 74) solid 2px;
  }
  .red:hover {
      background-color: #FF1C3C;
      box-shadow: inset 0 0 0 rgb(214, 17, 17), 0 0 1.5em rgba(214, 17, 17);
  }
  nav ul {
      list-style: none;
      text-align: center;
      margin-top: 72px;
      padding: 0;
  }
  nav li {
      display: inline-block;
  }
  nav a {
      text-decoration: none;
      color: #fff;
      display: inline-block;
      padding: 40px;
      font-size: 17px;
      font-family: 'Questrial', sans-serif;
      cursor: pointer;
      text-transform: uppercase;
  }
/*-----------TITTLE 2D----------------*/
.title {
    display: flex;
    justify-content: center;
    margin: 78px 0px 118px 0px;
}
.title h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 7rem;
    color: #fff;
}
/*---------VIDEO GALLERY------------*/

img {
    max-width: 100%;
    height: auto;
  }
  h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      letter-spacing: 1px;
      margin: 2px;
      margin-top: 18px;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
  }
 
  /*---------VIDEO GALLERY -----------------*/
  .video {
    padding-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    width: 23%; /* Thumbnails 4 across */
    margin: 1%;
    float: left;
    border: 2px solid #FF1C3C;
  }

  .video figure {
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
  }
  
  .video figure a {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    line-height: 0;
  }
  
  /* Media Queries - This is the responsive grid. */
  
  @media (max-width: 1024px) {
    .video {
      width: 31.333%; /* Thumbnails 3 across */
    }
  }
  
  @media (max-width: 600px) {
    .video {
      width: 48%; /* Thumbnails 2 across */
    }
  }
  
  @media (max-width: 360px) {
    .video {
      display: block;
      width: 96%;
      margin: 2%; 
      float: none;
    }
  }
  .video img {
    width: 100%;
    opacity: 1;
  }
  
  .video img:hover, .video img:active, .video img:focus {
    opacity: 0.75;
  }