html {
    box-sizing: border-box;
    background-color: #000;
}
*, ::after, ::before {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.top {
    background-image: url(../images/neon_plants.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding-top: 46rem;
}
#portafolio {
    position: relative;
    top: -85rem;
    left: -45rem;
    transform: rotate(-90deg);
    font-size: 20px;
}
div p {
    font-family: 'Questrial', sans-serif;
    color: #fff;
}
h1 {
      font-size: 150px;
      font-family: 'Lobster Two', cursive;
      color: #fff;
      font-weight: 400;
      margin: -34rem 58px 10px;
      animation: neon .08s ease-in-out infinite alternate;
    }
h2 {
    font-size: 169px;
      font-family: 'Lobster Two', cursive;
      color: #fff;
      font-weight: 400;
      margin: -5rem 58px 10px;
      animation: neon .08s ease-in-out infinite alternate;
}
/*-----------Animation neon-----------*/
@keyframes neon {
    from {
      text-shadow:
      0 0 4px rgba(202,228,225,0.92),
      0 0 20px rgba(202,228,225,0.34),
      0 0 10px rgba(30,132,242,0.52),
      0 0 11px rgba(30,132,242,0.92),
      0 0 24px rgba(30,132,242,0.78),
      0 0 44px rgba(30,132,242,0.92);
    }
    to {
      text-shadow:
      0 0 4px rgba(202,228,225,0.98),
      0 0 20px rgba(202,228,225,0.42),
      0 0 12px rgba(30,132,242,0.58),
      0 0 11px rgba(30,132,242,0.84),
      0 0 24px rgba(30,132,242,0.88),
      0 0 44px rgba(30,132,242,1);
    }
  }

.box-description {
    width: 265px;
    font-family: 'Questrial', sans-serif;
    color: #fff;
    text-align: justify;
    font-size: 12px;
    margin: 0rem 90px 0px;
}
.More-button {
    background-color: #527BFF;
    border: none;
    color: #fff;
    padding: 14px 11px;
    text-align: center;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;;
    font-size: 11px;
    margin: 16px 88px;
    cursor: pointer;
    border-radius: 28px;
}
.More-button:hover {
    background-color: rgb(60, 95, 212);
}
/*-------MENU-------*/
.botones {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
}
nav a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 44px 100px;
    font-size: 17px;
    font-family: 'Questrial', sans-serif;
    margin-top: 59px;
    cursor: pointer;
    text-transform: uppercase;
}
/*--------------BOTONES GLOW-------------------*/
.btn {
	color: rgba(255,255,255,1);
	border-radius: 0;
	padding: 1.2em 5em;
	letter-spacing: 0.35em;
	font-size: 12px;
	transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
	margin: 6em;
} 
.blue {
		box-shadow: inset 0 0 1em rgba(0,170,170,0.5), 0 0 1em rgba(0,170,170,0.5);
		border: #0dd solid 2px;
}
.blue:hover {
		background-color: #0dd;
		box-shadow: inset 0 0 0 rgba(0,170,170,0.5), 0 0 1.5em rgba(0,170,170,0.7);
}
/*--------------QUOTE------------*/
section p {
    color: #fff;
    text-align: center;
    font-size: 33px;
    font-family: 'Amaranth', sans-serif;
    margin: 8rem 19rem 5rem;
}
/*--------------Galeria------------*/

.gallery-section h3 {
    font-family: 'Oxygen', sans-serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}
.gallery-section {
    width: 100%;
    padding: 60px 0;
}
.inner-width {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.border{
    width: 270px;
    height: 4px;
    background: #fff;
    margin: 60px auto;
}
.gallery-section .gallery {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.gallery-section .image {
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
}

.gallery-section .image img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.gallery-section .image:hover img {
    transform: scale(1.4) rotate(15deg);
}
@media screen and (max-width:960px){
    .gallery-section .image{
        flex: 33.33%;
    }
}
@media screen and (max-width:768px){
    .gallery-section .image{
        flex: 50%;
    }
}
@media screen and (max-width:480px){
    .gallery-section .image{
        flex: 100%;
    }
}
/*-------------FOOTER--------------*/
.footer {
    width: 100%;
    height: auto;
    margin: auto;
    background-image: url(../images/neon_plants.jpg);
    background-size: cover;
    padding: 55px 0px;
    margin-top: 74px;
}
.social-icons {
    position: absolute;
    left: 50%;
    transform: translate(-53%, -50%);
    height: auto;
}
.social-icons li {
    list-style: none;
    margin: 60px 30px;
    display: inline-block;
    font-size: 22px;
    padding: 20px 20px;
    border-radius: 50%;
    transition: .10s;
}
.social-icons li:hover {
    color: rgb(130, 180, 247);
    border: 3px solid rgb(130, 180, 247);
    transition: .5s;
}