html {
    box-sizing: border-box;
}
*, ::after, ::before {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.top {
    background-image: url("../images/neon-sunset.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding-top: 46rem;
}
#portafolio {
    position: relative;
    top: -85rem;
    left: -45rem;
    transform: rotate(-90deg);
    font-size: 10px;
}
p {
    font-family: 'Questrial', sans-serif;
    color: #fff;
}

h1 {
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    color: #fff;
    font-size: 150px;
    margin: -34rem 58px 10px;
}
h2 {
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    color: #fff;
    font-size: 169px;
    margin: -6rem 58px 10px;
}
.box-description {
    width: 265px;
    font-family: 'Questrial', sans-serif;
    color: #fff;
    text-align: justify;
    font-size: 12px;
    margin: 0rem 90px 0px;
}
.More-button {
    background-color: #D02C4C;
    border: none;
    color: #fff;
    padding: 14px 11px;
    text-align: center;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;;
    font-size: 11px;
    margin: 16px 88px;
    cursor: pointer;
    border-radius: 28px;
}
.More-button:hover {
    background-color: #A22C40;
}

